<!DOCTYPE html>
<html>
	<head>
	 <script src="{{ asset('tarteaucitron.js-1.9.6/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", 
          "bodyPosition": "bottom", 

    	  "hashtag": "#tarteaucitron", 
    	  "cookieName": "tarteaucitron",
    
    	  "orientation": "middle",
       
          "groupServices": false, 
          "serviceDefaultState": "wait", 
                           
    	  "showAlertSmall": false, 
    	  "cookieslist": false, 
                           
          "closePopup": false, 

          "showIcon": true, 
          //"iconSrc": "", 
          "iconPosition": "BottomRight",

    	  "adblocker": false, 
                           
          "DenyAllCta" : true, 
          "AcceptAllCta" : true,
          "highPrivacy": true, 
                           
    	  "handleBrowserDNTRequest": false, 

    	  "removeCredit": false, 
    	  "moreInfoLink": true,

          "useExternalCss": false, 
          "useExternalJs": false,        
          "readmoreLink": "", 

          "mandatory": true, 
          "mandatoryCta": true 
        });
	
        tarteaucitron.user.multiplegtagUa = ['G-RF4ZS4XC54'];
        (tarteaucitron.job = tarteaucitron.job || []).push('multiplegtag');
        </script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-RF4ZS4XC54"></script>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock %} </title>
		<link rel="icon" href="{{ asset('images/logo/g-logo-05mm.png') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Feuilles de styles -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

		<!-- Fichiers JS -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>
	</head>
    <body>
	<div class="mb-5">
    {% include "partials/navbar.html.twig" %}
	</div>
        {% block body %}{% endblock %}
    </body>
</html>
