{% extends 'base2.html.twig' %}


{% block title %}Messages envoyees
{% endblock %}

{% block body %}
	<section>
		<div class="container py-5">
			{% if  app.user.sender | length  == 0 %}
				<h1 class="text-center m-5 p-5">
					<span>
						<i class="fa-solid fa-message-slash"></i>
					</span>
					vous n'avez pas de message encore
				</h1>
			{% else %}
				<h3 class="m-3">
					vous avez
					{{ app.user.sender | length }}
					Messages envoyes
				</h3>
				<table class="table bg-white h-75 m-5">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">a</th>
							<th scope="col">sujet</th>
							<th scope="col">images</th>
							<th scope="col">date</th>
							<th scope="col">action</th>
						</tr>
					</thead>
					<tbody>
						{% set id = 0 %}
						{% set n = 0 %}
						{% for message in app.user.sender |sort ((a, b) => b.id <=> a.id) %}
							{% set n = n + 1 %}
							<tr>
								<th scope="row"></th>
								<td>{{ message.recipient.firstname }}
								</td>
								<td>
									<h6>{{ message.title }}</h6>
									<div class="collapse" id="collapseExample{{n}}">
										<div class="card card-body">
											{{ message.message }}
										</div>
									</div>
								</td>
								{% if message.image == null %}
									{% set id = id + 1 %}
									<td>
										<span class="fa fa-file-image-o"></span>
									</td>
								{% else %}
									<td>
										<a href="{{ asset('uploads/messages/'~ message.image) }}" target="_blank"><img style="width: 20px;" src="{{ asset('uploads/messages/'~ message.image) }}" alt="..."/></a>
									</td>
								{% endif %}
								<td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i') : '' }}</td>
								<td class="p-1">
									<div class="row">
										<button class="border-0  btn col-md-3 text-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample{{n}}" aria-expanded="false" aria-controls="collapseExample">
											<span class="fa fa-eye" aria-hidden="true"></span>
										</button>
										<div class="col-md-3 border-0 ">{{ include('messages/_delete_form.html.twig') }}</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>

			
		</div>
		{% include "partials/footer.html.twig" %}
	</section>
{% endblock %}
